<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Mission to Mars</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    />
  </head>
  <body>
    <style type="text/css">
      body { background: rgba(247, 220, 196, 0.932) !important; } /* Adding !important forces the browser to overwrite the default style applied by Bootstrap */
    </style>
    <div class="container">
      <!-- Add Jumbotron to Header -->
      <div class="jumbotron text-center">
        <h1>Mission to Mars</h1>
        <!-- Add a button to activate scraping script -->
        <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
      </div>
      <!-- Add section for Mars News -->
      <div class="row" id="mars-news">
        <div class="col-md-12">
          <div class="media">
            <div class="media-body">
              <h2>Latest Mars News</h2>
              <h4 class="media-heading">{{ mars.news_title }}</h4>
              <p>{{ mars.news_paragraph }}</p>
            </div>
          </div>
        </div>
      </div>
      <!-- Section for Featured Image and Facts table -->
      <div class="row" id="mars-featured-image">
        <div class="col-md-8">
          <h2>Featured Mars Image</h2>
          <img
            src="{{mars.featured_image }}"
            class="img-responsive"
            alt="Responsive image"
          />
        </div>
        <div class="col-md-4">
          <!-- Mars Facts -->
          <div class="row" id="mars-facts">
            <div class="text-center">
              <h4>Mars Facts</h4>
            </div>
            <table class="table table-striped">            
              {{ mars.facts | safe }}
            </table>
          </div>
        </div>
      </div>
      <div class="text-center">
        <h2>Mars Hemispheres</h2>
      </div> 
        <div class="row" id="hemi_urls">          
          <div class="col-md-3">            
            <img
              src="{{mars.hemi_urls[0]['hemi_url'] }}"              
              class="img-thumbnail"
              alt="{{mars.hemi_urls[0]['title'] }}"
            /> 
            <p><h2>{{mars.hemi_urls[0]['title'] }}</h2></p>   
          </div>
          <div class="col-md-3">            
            <img
              src="{{mars.hemi_urls[1]['hemi_url'] }}"              
              class="img-thumbnail"
              alt="{{mars.hemi_urls[1]['title'] }}"
            /> 
            <p><h2>{{mars.hemi_urls[1]['title'] }}</h2></p>   
          </div>
          <div class="col-md-3">            
            <img
              src="{{mars.hemi_urls[2]['hemi_url'] }}"              
              class="img-thumbnail"
              alt="{{mars.hemi_urls[2]['title'] }}"
            /> 
            <p><h2>{{mars.hemi_urls[2]['title'] }}</h2></p>   
          </div>
          <div class="col-md-3">            
            <img
              src="{{mars.hemi_urls[3]['hemi_url'] }}"              
              class="img-thumbnail"
              alt="{{mars.hemi_urls[3]['title'] }}"
            /> 
            <p><h2>{{mars.hemi_urls[3]['title'] }}</h2></p>   
          </div>
        </div>
      
    </div>
  </body>
</html>
